In [1]:
# import the necessary packages
from jinja2 import Environment
from jinja2 import FileSystemLoader
from tqdm import tqdm
import pandas as pd
import openai
import json
import time
import os

In [3]:
# set your OpenAI API key
# openai.api_key = ""

In [4]:
# specify the path to the EM-DAT dataset
emdat_dataset_path = os.path.join(
    "natural-disasters-data",
    "em-dat",
    "EMDAT_1900-2021_NatDis.csv"
)

# load the EM-DAT natural disasters dataset from disk
df = pd.read_csv(emdat_dataset_path)
df.head()

,Dis No,Year,Seq,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,Entry Criteria,...,End Day,Total Deaths,No Injured,No Affected,No Homeless,Total Affected,Reconstruction Costs ('000 US$),Insured Damages ('000 US$),Total Damages ('000 US$),CPI
0,1900-9002-CPV,1900,9002,Natural,Climatological,Drought,Drought,NaN,NaN,NaN,...,NaN,11000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.261389
1,1900-9001-IND,1900,9001,Natural,Climatological,Drought,Drought,NaN,NaN,NaN,...,NaN,1250000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.261389
2,1902-0012-GTM,1902,12,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,Kill,...,18.0,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,25000.0,3.391845
3,1902-0003-GTM,1902,3,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,Kill,...,8.0,1000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.391845
4,1902-0010-GTM,1902,10,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,Kill,...,24.0,6000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.391845

In [6]:
# grab all tornadoes that have occurred in the United States
tornado_us_df = df[
    (df["Disaster Subsubtype"] == "Tornado") &
    (df["ISO"] == "USA")
]
tornado_us_df.head()

,Dis No,Year,Seq,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,Entry Criteria,...,End Day,Total Deaths,No Injured,No Affected,No Homeless,Total Affected,Reconstruction Costs ('000 US$),Insured Damages ('000 US$),Total Damages ('000 US$),CPI
873,1903-0010-USA,1903,10,Natural,Meteorological,Storm,Convective storm,Tornado,NaN,Kill,...,NaN,98.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.522300
908,1913-0005-USA,1913,5,Natural,Meteorological,Storm,Convective storm,Tornado,NaN,Kill,...,NaN,732.0,NaN,NaN,NaN,NaN,NaN,NaN,200000.0,3.874530
925,1920-0016-USA,1920,16,Natural,Meteorological,Storm,Convective storm,Tornado,NaN,Kill,...,20.0,224.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.853425
939,1925-0001-USA,1925,1,Natural,Meteorological,Storm,Convective storm,Tornado,NaN,Kill,...,18.0,739.0,NaN,NaN,NaN,NaN,NaN,NaN,18000.0,6.875008
949,1927-0010-USA,1927,10,Natural,Meteorological,Storm,Convective storm,Tornado,NaN,Kill,...,NaN,87.0,NaN,NaN,NaN,NaN,NaN,NaN,22000.0,6.809780

In [7]:
# examine the locations of the tornadoes in the United States
tornado_us_df["Location"]

873                                  Gainesville (Georgia)
908                                   Ohio, Indiana, Texas
925                                   Alabama, Mississippi
939                             Montana, Indiana, Illinois
949                                      Tornado, St-Louis
                               ...
15298    Alabama, Georgia, South Carolina, Florida, Mis...
15780    Illinois, Iowa, Wisconsin, Michigan, Indiana, ...
15785    Louisiana, Texas, Mississippi, South Carolina,...
15786    Texas, Oklahoma, Louisiana, Mississippi, Alaba...
15798    Nashville (Tennessee), Kentucky, Missouri, Mis...
Name: Location, Length: 144, dtype: object

In [8]:
# to fully appreciate why the 'location' column is so problematic (and in need
# of AI intervention, otherwse we'd be forced to *manully* edit them), let's
# look at *all* the values (notice how there are typos in the state names,
# other times the states aren't listed and instead towns, cities, and/or
# counties are intermingled, etc.)
print("\n".join(tornado_us_df["Location"]))

Gainesville (Georgia)
Ohio, Indiana, Texas
Alabama, Mississippi
Montana, Indiana, Illinois
Tornado, St-Louis
Texas, Alabama, South Carolina
Mississippi, Georgia
Massachusetts
Gainesville (Georgie)
Illinois, Indiana, Michigan
Kansas
Lubbock (Texas)
Central
Texas, Oklahoma
Texas, Oklahoma
Texas, Middle West
East Coast
East, South
Colorado
Pennsylvania, Ohio, Missouri, New York
Saragosa (Texas)
Texas, Oklahoma, Louisiane, Mississippi
Huntsville (Alabama)
Texas, Kansas, Iowa, Louisiane, Nebraska, Missouri, Mississippi, Oklahoma, Alabama, Georgie, Arkansas
Nevada, Colorado, Kansas, Nebraska, Oklahoma, Texas
South Dakota, Minnesota
Colorado, Texas, Kansas, Nebraska, Oklahoma, Missouri
Wisconsin, Ohio, Maryland, Michigan, Indiana, Kentucky, Virginie
Kansas, Missouri, Illinois
Washington, Oregon, Texas, Arkansas, Ten Nessee, Illinois, Louisiane, Mississippi
Tulsa, Catoosa (Oklahoma)
Kentucky, Tennessee, Georgia
Georgia, Florida
Oklahoma, Wisconsin, Illinois, Indiana, Ohio, Pennsylvania, New Jersey, Connecticut, New York
Kansas, Missouri
Brownwood, San Angelo, Del Rio (Texas)
Georgia, Alabama, Texas, Louisiana, Mississippi, Arkansas, Tennessee,South Carolina, North Carolina
texas, Oklahoma, Kansas, Ohio, Pennsylvannia
Alabama, Colorado, Illinois, Indiana, Kansas, Kentucky, Louisiana, Maryland, Mississippi, Missouri, Nebraska, Oklahoma, Texas, Tennessee, Virginia
Texas
Texas, Oklahoma, Arkansas, Louisiana, Mississippi, Missouri, Iowa, Illinois, Indiana, Kentucky, Tennessee
Arkansas, Ohio, Kentucky, Texas, Mississippi, Tennessee,West Virginia
Alabama, Tennessee
Indiana, Kentucky, Tennessee
Texas
Texas, Arkensas, Mississippi, Alabama, Georgia, Louisiana, Florida
Virginia, Illinois
Iowa, Kansas, Illinois, Ohio, Pennsylvania
South Dakota, Nebraska, Iowa, Illinois, Wisconsin
Iowa, Illinois, Missouri, Indiana, Ohio, Pennsylvania, New Jersey, New York
Florida, Maine
Osceola, Seminole, Volusia counties, Daytona beach (Florida)
Oklahoma, Kansas
Georgia, Louisiana, Minnesota, Alabama, Florida, South carolina, North Craolina
Louisiana, Kansas, Arkansas, Montana, Oklahoma, Tennessee, Texas
Tennessee, Arkansas, Indiana, Alabama, Texas, Montana, Lousiana, Missouri, Georgia
Central Georgia
Oklahoma, Kansas, Nebraska, Texas, Arkansas, Lousiana, Missouri, Alabama, Florida, Georgia, Illinois, Indiana, Kentucky, North Carolina, Ohio, South carolina, Tennessee, Missouri
Salt Lake City (Utah
Tennessee
Crittenden, Daviess, Webster districts (Kentucky province)
Bullock, Montgomery districts (Alabama province), Colquitt, Grady, Mitchell, Thomas, Tift districts (Georgia province), Washington district (Floride province), Lonoke, Prairie, Saline districts (Arkansas province)
Fort Worth Texas city (Tarrant district, Texas province), Reagan, Burleson districts (Texas province)
Adams, Columbia, Crawford, Dane, Dodge, Grant, Green, Iowa, Juneau, La crosse, Lafayette, Monroe, Richland, Rock, Sauk, Vernon districts (Wisconsin province)
Granite Falls city (Yellow Medicine, Minnesota province)
Xenia city (Greene district, Ohio province)
Kearny, Trego, Ellis, Rooks, Ford, Osborne, Smith, Jewell, Edwards, Republic, Washington districts (Kansas province), Union city (Franklin district, Missouri province), Johnson, Pettis, Cooper, Callaway, St Charles, Gentry, Worth, Clark, Madison districts (Missouri), Beaver, Pontotoc, Coal, Johnston, Atoka, Haskell, Pottawatomie districts (Oklahoma province), Wichita, Cooke, Carson, Hutchinson, Hansford, Wheeler districts (Texas province), Thayer, Gage, Sarpy, Webster, Nuckolls districts (Nebraska province), Mills, Pottawattamie, Guthrie, Boone, Hamilton, Wapello, Johnson, Black Hawk, Benton, Fayette, Webster, Ringgold districts (Iowa province), Madison district (Illinois province)
Calhoun, Lee, Pontotoc, Prentiss, Union districts (Mississippi province)
Marion, Clay districts (Florida province)
Hoisington city (Barton district, Kansas province)
Blue Grass, Bettendorf cities (Scott district, Iowa province), Leon city (Decatur district, Iowa province)
Siren city (Burnett district, Wisconsin province)
Brainerd city (Crow King district, Minnesota province)
Cordell city (Washita district, Oklahoma province), Polk, Merrick, Hamilton districts (Nebraska province)
Howard, Prince George's districts (Maryland province)
Pasadena city (Harris district, Texas province)
Hondo city (Medina district, Texas province)
Jakson town (Dakota district, Nebraska province)
Happy town (Randall, Swisher districts, Texas province)
Wayne, Jefferson districts (Illinois province)
Breckinridge, Meade, Crittenden, Webster, Hopkins, Ohio, Hardin, Edmonson districts (Kentucky province), Bollinger, Howell districts (Missouri province), Charles, Calvert, Dorchester, Wicomico, Cecil districts (Maryland province), Illinois (Clay,Union, Johnson,Pope, Moultrie, Saline, Bond), Gordon district (Georgia province), Atchison district (Kansas province), Erie, Allegany districts (New York province), Stark district (Ohio province), Indiana, Mercer, Venango, Butler, Armstrong, Columbia, Lebanon, Allegheny districts (Pennsylvania province), Rutherford, Lake, Henry, Carter districts (Tennessee province), Virginia (Shenandoah, Greensville, Bedford, (Campbell, Nottoway, Prince George), Marshall district (West Virginia province), Pontotoc, Chickasaw districts (Mississippi province), Perry district (Indiana province)
Ladysmith city (Rusk district, Wisconsin province)
Tipton, Carroll, Montgomery, Sumner, Bedford, Coffee, Morgan, Cumberland, Anderson districts (Tennessee province), Henry, Dale, Fayette, Walker, Winston, Lamar, Cullman, Tuscaloosa, Jefferson, Cherokee districts (Alabama province), Van Wert, Paulding, Putnam, Defiance, Athens, Logan, Union, Seneca, Ottawa districts (Ohio province), Allen district (Kentucky province), Cross, Crittenden, Mississippi districts (Arkansas province), Appling, Cherokee, Pickens, Dawson, Atkinson, Coffee districts (Georgia province), Blackford district (Indiana province), Lowndes, Winston, Noxubee, Oktibbeha districts (Mississippi province), Mercer district (Pennsylvania province), McCormick district (South Carolina province)
Mitchell, Worth districts (Georgia province), Jackson district (Alabama province) North Carolina, South Carolina, Tennessee provinces
Colbert, Lauderdale, Limestone, Madison, Jackson, Dekalb, Lamar, Walker,St Clair, Talladega, Shelby, Clay districts (Alabama province), Mississippi, Craighead, White, Woodruff, Cross districts (Arkansas province), Adams, Weld, Morgan districts (Colorado province), Cherokee, Franklin, Madison, Elbert, Hart, Heard, Coweta districts (Georgia province), Marion, Mahaska, Lee, Van Buren, Jefferson, Henry, Louisa districts (Iowa province), Adams, Hancock, Mc Donough, Bureau, Henry, Brown, Mason, Fulton, Pope, Schuyler, Sangamon, Pulaski, Massac, Alexander, Jasper, Mercer, Warren, Tazewell districts (Illinois province), Perry, Kosciuscko, Putnam districts (Indiana province), Crawford, Wyandotte, Leavenworth, Neosho, Labette, Cherokee, Butler, Greenwood, Osage, Woodson, Allen, Douglas, Anderson, Linn, Marion districts (Kansas province), Calloway, Webster,Daviess, Mason, Lewis, Union, Henderson, Pulaski districts (Kentucky province), Lawrence, Cass, Platte, Clay, Jackson- Kansas city, Greene, Christian, Camden, Lewis, Barton, Cedar, Polk, Hickory, Dallas, Jasper, Johnson, Newton, Dade, Pettis, Dunklin, Pemiscot, Putnam, Scott, Knox, Scotland, Clark, Macon, Shelby, Mercer, Lafayette, Saline, Cape Girardeau, Bollinger, Pulaski districts (Missouri province), Marshall, Benton, Tippah, Alcorn, Newton, Scott, Chickasaw, Monroe, Lee, Itawamba, Madison, Sunflower districts (Mississippi province), Washington, Vance, Chowan, Bertie, Hertford, Northamton districts (North Carolina province), Saunders district (Nebraska province), Okhlaoma, Moore-Cleveland, Ottawa, Stephens, Creek, Lincoln, Canadian, Caddo, Osage, Noble, Le Flore, Marshall, Love, Jefferson districts (Okhahoma province), Aiken, Abbeville, Williamsburg districts (South Carolina province), Perkins, Todd didstricts (South Dakota province), Dyer, Madison, Hamilton-Chattanooga, Gibson, Weakley, Henry, Stewart, Henderson, Carroll, Montgomery, Robertson, Williamson, Davidson, Cannon, Lincoln, Lawrence, Hardin, McNairy districts (Tennessee province), ood, Upshur, Harrison, Marion districts (Texas province)
Palm Beach district (Florida province)
Mason, Tazewell, Logan, Will, De Witt districts (Illinois province)
Arkansas, Louisiana, North Carolina, Oklahoma, South Carolina, Texas, Virginia, Kansas, Missouri, Mississippi provinces
Caroline district (Virginia province)
Wisconsin province
Missouri, Arkansas, Illinois, Indiana, Kansas, Oklahoma provinces
North Carolina, Alabama, Arizona, Arkansas, Louisiana, Maryland, Mississippi, Pennsylvania, South Dakota, Texas provinces
Daytona beach (Volusia district, Florida province)
Texas province
Volusia, Lake, Sumter, Seminole districts (Florida province)
Alabama, Missouri, Georgia, Minnesota provinces
Colorado, Iowa, Kansas, Minnesota, Missouri, Nebraska, Oklahoma, South Dakota provinces
Dunkerton city (Black Hawk district, Iowa province), Parkesburg, New Hartford cities (Butler district, Iowa province), Cedar Rapids city (Linn district, Iowa province), Minnesota, Indiana, Illinois, Kansas, Michigan, Montana, Missouri, Nebraska, Wisconsin provinces
Kansas, Maryland, Missouri, North Carolina, Virginia, Texas, Oklahoma, Georgia, Arkansas provinces
Tennessee, Arkansas, Kentucky, Mississippi, Alabama, Indiana, Texas, Illinois, Ohio, Missouri provinces
Fulton, DeKalb, Cobb, Clayton, Gwinnett districts (Georgia province)
Arkansas, Illinois, Indiana, Kentucky, Missouri, New York, Ohio, Tennessee, Alabama, Mississippi provinces
Arkansas, Oklahoma, Texas provinces
Suffolk district (Virginia province)
Texas, Oklahoma, Arkansas, Alabama, Georgia, Kentucky, Louisiana, Missouri, South Carolina, Tennessee provinces
Texas, Nebraska, Oklahoma, Kansas, North Carolina, Alabama, Missouri, Arkansas, Pennsylvania, Tennessee, Mississippi, South Carolina, Kentucky provinces
Ohio, Oklahoma, Kentucky, Texas, Tennessee, Pennsylvania, West Virginia, Maryland, Washington provinces
Illinois, Missouri provinces
Oklahoma province
Yazoo district (Mississippi province), Alabama, Louisiana, Arkansas, Georgia, Tennessee provinces
Arkansas, Missouri, Illinois provinces
Illinois, Massachusetts, Michigan, Minnesota, North Dakota provinces
Alabama, Arkansas, Kentucky, Mississippi, Missouri, Tennessee, Oklahoma provinces
Mississippi, Alabama, Oklahoma, Texas, North Carolina, Kansas provinces
Jasper, Newton districts (Missouri province)
Missouri, Kansas, Texas provinces
Alabama, Tennessee, Illinois, Kentucky, Indiana, Ohio, Georgia, Florida, Mississippi, North Carolina, Virginia provinces
Jefferson, Chilton districts (Alabama province)
Nebraska, Kansas, Missouri, Illinois, Indiana, Kentucky provinces
Dallas, Tarrant districts (Texas province)
Oklahoma, Kansas, Iowa, Nebraska, South Dakota, Minnesota provinces
Maine, New Hampshire, Vermont, Massachusetts, Rhode Island, Connecticut, Colorado, Kansas, Montana, Nebraska, New Mexico, North Dakota, Oklahoma, South Dakota, Texas, Wyoming, Illinois, Indiana, Iowa, Kansas, Michigan, Minnesota, Missouri, Nebraska, North Dakota, Ohio, South Dakota, Wisconsin, Alabama, Arkansas, Delaware, Florida, Georgia, Kentucky, Louisiana, Maryland, Mississippi, North Carolina, South Carolina, Tennessee, Virginia, West Virginia, New York, New Jersey, Pennsylvania provinces
Colorado, Kansas, Montana, Nebraska, New Mexico, North Dakota, Oklahoma, South Dakota, Texas, Wyoming, Alabama, Arkansas, Delaware, Florida, Georgia, Kentucky, Louisiana, Maryland, Mississippi, North Carolina, South Carolina, Tennessee, Virginia, West Virginia provinces
Illinois, Indiana, Kentucky, Ohio, Michigan, Wisconsin, Missouri provinces
Alabama, Arkansas, Delaware, Florida, Georgia, Kentucky, Louisiana, Maryland, Mississippi, North Carolina, South Carolina, Tennessee, Virginia, West Virginia, Illinois, Indiana, Iowa, Kansas, Michigan, Minnesota, Missouri, Nebraska, North Dakota, Ohio, South Dakota, Wisconsin, Colorado, Kansas, Montana, New Mexico, Oklahoma, Texas, Wyoming provinces
Colorado, Kansas, Montana, Nebraska, New Mexico, North Dakota, Oklahoma, South Dakota, Texas, Wyoming, Illinois, Indiana, Iowa, Kansas, Michigan, Minnesota, Missouri, Nebraska, North Dakota, Ohio, South Dakota, Wisconsin, Maine, New Hampshire, Vermont, Massachusetts, Rhode Island, Connecticut, New York, New Jersey, Pennsylvania provinces
Texas, Louisiana, Alabama, Mississippi, Kentucky, Georgia, Florida provinces
Kansas, Nebraska, Texas, Oklahoma, Minnesota, Iowa, Wisconsin provinces
Fairdale area (DeKalb district, Illinois province), Rochelle town (Ogle district, Illinois province), Missouri, North Carolina, Indiana, Ohio, Kentucky, Texas, Iowa, Arkansas, Michigan, West Virginia, Wisconsin, Pennsylvania, Oklahoma, Kansas, Tennessee provinces
Moore area (Cleveland district, Oklahoma province), Osage, Tulsa districts (Oklahoma province), Kansas, Missouri, Arkansas provinces
Dallas, Ellis, Collin districts (Texas province), Mississippi, Tennessee, Arkansas, Alabama, Georgia, New Mexico, Missouri, Kentucky, Indiana, Oklahoma, Illinois provinces
Nashville town (Howard district, Arkansas province); Van town (Van Zandt district, Texas province), Delmond town (Douglas district, South Dakota province), Colorado, Oklahoma, Kansas, Iowa provinces
Oklahoma, Colorado, Nebraska, Kansas, Iowa, Missouri, Arkansas, Illinois, Kentucky, Texas,Tennessee states
Tulsa (Oklahoma); Texas, Louisiana, Kansas, Missouri
Texas (Justin in Denton, Collin, Rockwall, Lubbock counties, Seymour in Baylor, Dallas – Fort Worth metro area, Houston metro area), Oklahoma (El Reno in Canadian, Oklahoma city metro region, Caddo in Bryan, Cleveland South and East), Kansas (south), Kentucky, Tennessee, Mississippi, Alabama, Georgia, Indianapolis (Marion-IN)
Illinois, Missouri, Indiana, Arkansas, Kentucky, Tennessee, Ohio , Georgia, Iowa, North Carolina, Virginia, Alabama, South Carolina, West Virginia, Michigan states
Pella, Marshalltown (Iowa); Missouri , Illinois, Indiana, Kansas, Kentucky, Alabama, Arkansas, Georgia, Tennessee, North Carolina, South Carolina, Viriginia, Maryland , Pennsylvania
Robertson, Angelina, Houston and Cherokee Counties (Texas); Louisiana, Arkansas, Mississippi, Alabama, Georgia, North Carolina, Ohio, Pennyslvania
Jefferson city, Golden (Barry county), Carl Junction (Jasper county), Missouri state
Alabama, Georgia, South Carolina, Florida, Mississippi,
Illinois, Iowa, Wisconsin, Michigan, Indiana, Ohio, Kentucky, Arkansas, Tennessee, Missouri
Louisiana, Texas, Mississippi, South Carolina, Georgia, Tennessee, Arkansas, North Carolina, Alabama
Texas, Oklahoma, Louisiana, Mississippi, Alabama, Georgia, Florida, Virginia
Nashville (Tennessee), Kentucky, Missouri, Mississippi, Georgia, Texas Oklahoma, Illinois, Indiana, Ohio, Arkansas, West Virginia, Pennsylvania

In [11]:
!cat templates/state_mapping_prompt.txt

[Return only the main response. Omit pre-text, post-text, and any explanation]
[Format your response as a JSON variable using the {Output Template}]

Act as both (1) an expert meteorologist and (2) an expert data scientist.

Below you'll find a comma separated list of {locations} that a given tornado was recorded in. These locations could consist of state names, cities, counties, townships, or regions.

The {locations} data is imperfect, and there may be typos. Do your best to infer the correct names of the locations.

Your job is to take these locations and fill the {output template} JSON variable with the unique names of each state the comma-separated list of locations maps to. When naming the states, use their two letter codes rather than the full name.

In some cases, you may be unable to determine the name of the state from the input. In that case, simply ignore the string that could not be converted into a proper state name.

Locations:
{{ locations }}

Output Template (JSON variable):
{
	"states": []
}

In [9]:
def extract_state_names(
    text,
    template_path="templates/",
    prompt_filename="state_mapping_prompt.txt"
):
    # initialize the list of states
    states = None

    # try to make a request to OpenAI and parse the result
    try:
        # load the prompt template from disk, then render it
        environment = Environment(loader=FileSystemLoader(template_path))
        prompt_template = environment.get_template(prompt_filename)
        prompt = prompt_template.render({"locations": text})
    
        # submit the prompt to OpenAI and obtain the response
        completion = openai.ChatCompletion.create(
            model="gpt-3.5-turbo",
            temperature=0,
            messages=[{
                "role": "user",
                "content": prompt
            }]
        )
        response = completion.choices[0].message.content
    
        # extract the comma separated list of states from the JSON blob
        states = json.loads(response)["states"]

    # handle if the OpenAI request fails, or if the returned JSON blob cannot
    # be parsed
    except (json.JSONDecodeError, openai.error.APIError) as e:
        print("* error: {}".format(e))

    # return the set of states
    return states

In [10]:
# initialize the list of parsed locations
locations = []

# loop over all rows of the tornado dataframe
for loc in tqdm(tornado_us_df["Location"]):
    # update the list of locations using our OpenAI state parsing function,
    # then include a small sleep to ensure rate limits aren't hit
    locations.append(extract_state_names(loc))
    time.sleep(0.1)

100%|█████████████████████████████████████████████████████████████| 144/144 [03:34<00:00,  1.49s/it]

In [22]:
# build a dataframe that shows our original locations (a mix of states, cities,
# counties, towns, regions, etc.), along with the same location data that has
# been cleaned to include *just* state data
cleaned_df = pd.DataFrame(
    list(zip(tornado_us_df["Location"], locations)),
    columns=["Original Locations", "Locations Cleaned with AI"]
)
cleaned_df.iloc[51:75]

,Original Locations,Locations Cleaned with AI
51,"Osceola, Seminole, Volusia counties, Daytona b...",[FL]
52,"Oklahoma, Kansas","[OK, KS]"
53,"Georgia, Louisiana, Minnesota, Alabama, Florid...","[GA, LA, MN, AL, FL, SC, NC]"
54,"Louisiana, Kansas, Arkansas, Montana, Oklahoma...","[LA, KS, AR, MT, OK, TN, TX]"
55,"Tennessee, Arkansas, Indiana, Alabama, Texas, ...","[TN, AR, IN, AL, TX, MT, LA, MO, GA]"
56,Central Georgia,[GA]
57,"Oklahoma, Kansas, Nebraska, Texas, Arkansas, L...","[OK, KS, NE, TX, AR, LA, MO, AL, FL, GA, IL, I..."
58,Salt Lake City (Utah,[UT]
59,Tennessee,[TN]
60,"Crittenden, Daviess, Webster districts (Kentuc...",[KY]
61,"Bullock, Montgomery districts (Alabama provinc...","[AL, GA, AR]"
62,"Fort Worth Texas city (Tarrant district, Texas...",[TX]
63,"Adams, Columbia, Crawford, Dane, Dodge, Grant,...",[WI]
64,"Granite Falls city (Yellow Medicine, Minnesota...",[MN]
65,"Xenia city (Greene district, Ohio province)",[OH]
66,"Kearny, Trego, Ellis, Rooks, Ford, Osborne, Sm...","[KS, MO, OK, TX, NE, IA, IL]"
67,"Calhoun, Lee, Pontotoc, Prentiss, Union distri...",[MS]
68,"Marion, Clay districts (Florida province)",[FL]
69,"Hoisington city (Barton district, Kansas provi...",[KS]
70,"Blue Grass, Bettendorf cities (Scott district,...",[IA]
71,"Siren city (Burnett district, Wisconsin province)",[WI]
72,"Brainerd city (Crow King district, Minnesota p...",[MN]
73,"Cordell city (Washita district, Oklahoma provi...","[OK, NE]"
74,"Howard, Prince George's districts (Maryland pr...",[MD]